/* VARIABLES */


    /* Palette */
    $primary: #F1B7AD;
    $secundary: #DDA1B1;
    $light: #FFFCFC;
    $accent: #000000;

    /* Font Sizes */
    $text-lg: 3.6em;
    $text-md: 3.0em;
    $text-sm: 2.5em;
    $text-xs: 2.0em;
    $text-xxs: 1.5em;
    
    /* Spacings */
    $sp-lg: 12rem;
    $sp-md: 10rem;
    $sp-sm: 8rem;
    $sp-xs: 1.6rem;
    $sp-xss: 1rem;

