/* PIE DE PAGINA */


footer{
    padding: $sp-xs;

    .piedepacenter {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .linea2 {
            width: 250px;
            margin-block: 20px;
            margin-inline: 20px;
            text-align: center;

            .piedepa {
                font-size: $text-xs;
            }
        }
        
    }
    .piedepa2 {
        padding: $sp-xss;
        font-size: $text-xs;
        background-color: $accent;
        text-align: center;

        Small {
            background-color: $accent;
            padding: $sp-xss;
            color: $light;
            text-align: center;
            
        }
    }
}





  

