/* HEADER */

HEADER {
    padding: $sp-xs;
    background-color: $primary;
    text-align: center;
    color: #000000;

    .navbar {
        display: grid;
        justify-content: normal;

        .redeslogo{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 100%;

            .redes{
                justify-self: start;
                align-self: center;
                animation: danzar 5s 1 ease-in-out;

                .imgredes{
                    width: 48px;
                    height: 49px;
                    max-width: 100%;
                }

                @keyframes danzar{

                    50%{
                        transform: translateX(100px);
                    }
                    75%{
                        transform: translateX(-20px);
                    }
                
                 }
            
            }
            
        }
    }
    
}